<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"><%= title %></h1>

        <!-- JUST FOR PRODUCT PAGES, DISPLAY IMAGE FOR THEM -->
        <% if (locals.product) { %>
            <img src="" />
        <% } %>

        <p><%= descr %></p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/smiska" role="button">Learn more &raquo;</a></p>
    </div>
</div>